 #messageTest{
    height: 400px; 
    width: 800px; 
    padding: 5px;      
    }
    
body {
	background: #FFFFFF url(../images/cloud.jpg) 
	fixed left top;
	color: #000000;
	font-family: 'Lucida Grande',sans-serif;
	font-size: 3em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	height: 100%; 
	width: 100%;
	padding: 10px;
}

ul.tabs li{
    display: inline;
    padding: 10px;
    background: #FFFFFF;
}

.banner{
    padding: 0px;
    background: #FFFFFF;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td#header {
background-color: #FFFFFF;
height: inherit;
width: inherit;
}

td#body {
background-color: #E0E0E0;
height: 80%;  
width: 80%;
}

td#login {
background-color: #CCE5FF;
height: 80%;  
width: 15%;
}

td#footer {
background-color: #000066;
color: #FFFFFF;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: black ;
  background-color: #def ;
}

.deferralImage {
  display:block;
  position:absolute;
  width:50px;
}

.deferralText {
  display:block;
  width:500px;
  margin-left:56px;
  min-height:50px;
}

ol.deferrals-list {
	font-size: 1.0em;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

ol.deferrals-list li:first-child {
  border-top: 1px solid #EEEEEE;
}

ol.deferrals-list li {
	font-size: 1.2em;
	border-bottom: 1px solid #EEEEEE;
	line-height: 1.1em;
	padding: 0.7em 0 0.6em;
	position: relative;
}